<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8" />
        <title>Cache Sample</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="css/app.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="nav navbar">
                <ul class="nav nav-pills col-sm-10 col-sm-offset-1">
                    <li><a href="EventDetails.html">Event Details</a></li>
                    <li><a href="NewEvent.html">Create Event</a></li>
                    <li><a href="EditProfile.html">Edit Profile</a></li>
                    <li class="active"><a href="CacheSample.html">Cache Sample</a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="CacheSampleController" style="padding:20px;" class="row">
            key: <input type="text" ng-model="key" /><br />
            value: <input type="text" ng-model="value" /><br />
            <button type="button" class="btn btn-primary" ng-click="addToCache(key,value)">Add to Cache</button>
            <br />
            <br />
            <input type="text" ng-model="keyToRead" /><br />
            <h3>Value from cache: {{readFromCache(keyToRead)}}</h3>
            <h3>Cache Stats: {{getCacheStats()}}</h3>
        </div>
    </div>

    <script src="lib/jquery-1.9.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/CacheSampleController.js"></script>
    <script src="js/filters.js"></script>
</body>
</html>
