<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="utf-8" />
        <title>Compile Sample</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="css/app.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="nav navbar">
                <ul class="nav nav-pills col-sm-10 col-sm-offset-1">
                    <li><a href="EventDetails.html">Event Details</a></li>
                    <li><a href="NewEvent.html">Create Event</a></li>
                    <li><a href="EditProfile.html">Edit Profile</a></li>
                    <li class="active"><a href="CacheSample.html">Cache Sample</a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="CompileSampleController" style="padding:20px;" class="row">
            <div id="appendHere"></div>
            <br />
            name: <input type="text" ng-model="name" /><br />
            markup: <input type="text" ng-model="markup" /><br />
            <button class="btn" ng-click="appendDivToElement(markup)">Append</button>
        </div>
    </div>

    <script src="lib/jquery-1.9.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/CompileSampleController.js"></script>
    <script src="js/filters.js"></script>
</body>
</html>
