<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
    <head>
        <meta charset="utf-8" />
        <title>Event Registration</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body ng-cloak>
        <div class="container">
            <div class="row">
                <div class="nav navbar">
                    <ul class="nav nav-pills col-sm-10 col-sm-offset-1">
                        <li><a href="EventDetails.html">Event Details</a></li>
                        <li class="active"><a href="NewEvent.html">Create Event</a></li>
                        <li><a href="EditProfile.html">Edit Profile</a></li>
                        <li><a href="CacheSample.html">Cache Sample</a></li>
                    </ul>
                </div>
            </div>
            <style>        
                input.ng-invalid.ng-dirty {
                    background-color: pink;
                }
            </style>
            <div ng-controller="EditEventController" class="controllerArea">
                <div class="container">
                    <h1>New Event</h1>
                    <hr />
                    <form role="form" name="newEventForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="eventName">Event Name:</label>
                                <input id="eventName" ng-model="event.name" required class="form-control" type="text" placeholder="Name of your event..." />
                            </div>
                            <div class="form-group">
                                <label for="eventDate">Event Date:</label>
                                <input id="eventDate" ng-model="event.date" ng-pattern="/\d\d/\d\d/\d\d\d\d/" required class="form-control" type="text" placeholder="format (mm/dd/yyyy)..." />
                            </div>
                            <div class="form-group">
                                <label for="eventTime">Event Time:</label>
                                <input id="eventTime" ng-model="event.time" class="form-control" type="text" placeholder="start and end time..." />
                            </div>
                            <div class="form-group">
                                <label for="eventLocation">Event Location:</label>
                                <input id="eventLocation" ng-model="event.location.address" class="form-control" type="text" placeholder="Address of event..." />
                                <br />
                                <input id="eventCity" ng-model="event.location.city" type="text" placeholder="City..." />
                                <input id="eventState" ng-model="event.location.state" type="text" placeholder="State..." />
                            </div>
                            <div class="form-group">
                                <label for="eventImageUrl">Image:</label>
                                <input id="eventImageUrl" ng-model="event.imageUrl" class="form-control" type="url" class="input-x-large" placeholder="Url of image..." />
                            </div>
                        </fieldset>

                        <img ng-src="{{event.imageUrl}}" src="" />
                        <br />
                        <br />

                        <button type="submit" ng-click="saveEvent(event, newEventForm)" ng-disabled="newEventForm.$invalid" class="btn btn-primary">Save</button>
                        <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="lib/jquery-1.9.1.min.js"></script>
        <script src="lib/underscore.min.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-sanitize.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/EventController.js"></script>
        <script src="js/controllers/EditEventController.js"></script>
        <script src="js/controllers/EditProfileController.js"></script>
        <script src="js/services/EventData.js"></script>
        <script src="js/filters.js"></script>
    </body>
</html>
